.container_1
{
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    background: white;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    top: 72px;
    padding: 28px;
    margin: 0px;
    overflow: auto;
    height: 95%;
    background-image: linear-gradient(-90deg, #371ba7 0%, #0D0628 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_1 .time_container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    width: 700px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px;
}

#timeSlotsContainer {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.time-slot {
    width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 2px rgb(226, 226, 226);
    border-radius: 10px;
}

.time-slot:hover {
    background-color: #f0f0f0;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    color: #371ba7;
}