/*Dashboard - Inventory Manager*/

#dashboardMainContainer{
	display: flex;
	flex-direction: row;
}

div.dashboard_sidebar{
	width:20%;
	height: 100vh;
}

div.dashboard_content_container{
	width:80%;
	background: #DCDCF9;
}

h3.dashboard_logo{
	color: #2B2DD4;
	font-size: 40px;
	text-align: center;
}

div.dashboard_sidebar_user{
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #2B2DD4;
}

div.dashboard_sidebar_user img{
	width: 80px;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #2B2DD4;
	margin-right: 5px;
}

div.dashboard_sidebar_user span{
	top: 20%;
	color: #4749DA;
	text-transform: uppercase;
	font-size: 20px;
	display: inline-block;
}

ul.dashboard_menu_list{
	padding: 0px;
	margin-top: 20px;
}

ul.dashboard_menu_list li{
	padding: 10px 10px;
	text-transform: uppercase;
	color: #4749DA;
	list-style: none
}

ul.dashboard_menu_list li a{
	text-decoration: none;
	color: #4749DA;
	display: block;
	font-size: 15px;
}

ul.dashboard_menu_list li.menuActive{
	background: #F5F5CC;
	color: #787717;
}

ul.dashboard_menu_list li:hover{
	background: #F5F5CC;
	color: #787717;
	transition: 0.3s all;
}

ul.dashboard_menu_list li a:hover{
	color: #787717;
	transition: 0.3s all;
}

ul.dashboard_menu_list li a.menuActive{
	background: #F5F5CC;
	color: #787717;
}

div.dashboard_topNav{
	background: #F5F5CC;
	padding: 20px;
}

div.dashboard_topNav a{
	color: #2B2DD4;
	font-size: 14px;
	text-decoration: none;
}

#logoutBtn{
	float: right;
}

div.dashboard_content{
	padding: 30px 30px 30px 30px ;
}

div.dashboard_content_main{
	background: #FFFFFF ;
	height: 100%;
	min-height: 900px;
}