@font-face {
    font-family: mainfont;
    src: url(/lABORA/public/fonts/AllertaStencil-Regular.ttf);
}
@font-face {
    font-family: regfont;
    src: url(/lABORA/public/fonts/Allerta-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(/lABORA/public/fonts/Roboto-Regular.ttf);
}
*
{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: mainfont;
}
:root{
    --mainblue: #1A1B7F;
    --darkblue: #151666;
    --lightblue: #484999;
    --mainyellow: #D8D631;
    --darkyellow: #adab27;
    --lightyellow: #e0de5a;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--darkblue);
    border-left: 10px solid var(--darkblue);
    transition: 0.5s;

}
.logooo{
    display: flex;
    flex-direction: row;
    background-color:rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 32px;
    height: 60px;
}
.logooo img{
    object-fit: cover;
    width: 40px;
    height: auto;
    margin:5px 20px;
}
.logooo h2{
    margin-top: 15px;
    margin-left: 5px;
    font-family: mainfont;
    color: var(--lightyellow);
    font-size: 20px;
}
.navigation ul
{
    margin-left: 40px;
    margin-top: 150px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.navigation ul li
{
    height: 50px;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.navigation ul li:hover
{
    background-color: white;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 88%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li:hover a
{
    color: var(--darkblue);
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 40px;
    line-height:  65px;
    margin-left: 20px;
    
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.50em;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    height: 50px;
    margin-left: -20px;
    line-break: 60px;
    text-align: center;
    white-space: nowrap;
    line-height:  50px;
}

.navigation ul li:hover a::before
{
    content:'';
    position: absolute;
    right:0;
    top:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px white;
}

.navigation ul li:hover a::after
{
    content:'';
    position: absolute;
    right:0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px white;
}