/*Dashboard - Inventory Manager*/

#dashboardMainContainer{
	display: flex;
	flex-direction: row;
}

div.dashboard_sidebar{
	width:15%;
	height: 100vh;
}

div.dashboard_content_container{
	width:85%;
	background: #DCDCF9;
}

h3.dashboard_logo{
	color: #2B2DD4;
	font-size: 40px;
	text-align: center;
}

div.dashboard_sidebar_user{
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #2B2DD4;
}

div.dashboard_sidebar_user img{
	width: 60px;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #2B2DD4;
	margin-right: 5px;
	vertical-align: middle;
}

div.dashboard_sidebar_user span{
	top: 20%;
	color: #4749DA;
	text-transform: uppercase;
	font-size: 20px;
	display: inline-block;
}

ul.dashboard_menu_list{
	padding: 0px;
	margin-top: 20px;
}

ul.dashboard_menu_list li{
	padding: 10px 10px;
	text-transform: uppercase;
	color: #4749DA;
	list-style: none
}

ul.dashboard_menu_list li a{
	text-decoration: none;
	color: #4749DA;
	display: block;
	font-size: 15px;
}

ul.dashboard_menu_list li a i{
	padding-right: 10px;
	font-size: 20px;
}

ul.dashboard_menu_list li.menuActive{
	background: #F5F5CC;
	color: #787717;
}

ul.dashboard_menu_list li:hover{
	background: #F5F5CC;
	color: #787717;
	transition: 0.3s all;
}

ul.dashboard_menu_list li a:hover{
	color: #787717;
	transition: 0.3s all;
}

ul.dashboard_menu_list li a.menuActive{
	background: #F5F5CC;
	color: #787717;
}

div.dashboard_topNav{
	background: #F5F5CC;
	padding: 20px;
}

div.dashboard_topNav a{
	color: #2B2DD4;
	font-size: 14px;
	text-decoration: none;
}

div.dashboard_topNav a i{
	color: #2B2DD4;
	font-size: 20px;
	padding-right: 10px;
}

#logoutBtn{
	float: right;
}

div.dashboard_content{
	padding: 30px 30px 30px 30px ;
}
/*
div.dashboard_content_main{
	background: #FFFFFF ;
	height: 100%;
	min-height: 900px;
}*/

.main{

    position:relative;
    padding:10px;
    width:100%;
}

.main-top{

    display:flex;
    width:100%;
}

.main-top i{

    position:absolute;
    right:0;
    margin:10px 30px;
    color:rgb(90, 90, 90);
    cursor:pointer;
}

.details{

    margin-top:20px;
    text-transform: capitalize;
}

.Detail-List{
    width:900px;
    padding:5px;
    margin-top:0px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 20px 35px rgb(0,0,0,0.1);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

 
  .add-user-button {
    margin-left:600px;
    font-weight: bold;
    padding:8px 10px;
    border-radius:10px;
    cursor:pointer;
    background: transparent;
    border: 1px solid #1d1dcf;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  

.table{

    border-collapse: collapse;
    margin: 25px;
    font-size:15px;
    min-width:95%;
    overflow:hidden;
    border-radius:5px 5px 0 0;
}

#table-head{
    text-align: left;
}

table thead tr{

    color:#fff;
    background:#1d1dcf;
    font-weight:bold;
}

.table th,
.table td{

    padding:12px 12px;
}

.table tbody tr{

    border-bottom:1px solid #ddd;
}

.table tbody tr:nth-of-type(odd){

    background:#f3f3f3;

}

.table tbody tr.active{

    font-weight:bold;
    color:#0c0c0e;

}

.table body tr:last-of-type{

border-bottom:2px solid #1d1dcf;

}

.table button{

    padding:6px 20px;
    border-radius:10px;
    cursor:pointer;
    background: transparent;
    border: 1px solid #1d1dcf;

}

.table button:hover{

    background:#b9b9cb;
    color:#fff;
    transition:0.5rem;
}
